<div class="grid">
    <mat-card>
        <mat-card-title>Policies</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1Qah-wvn7b2REO4rk6-jOZdE2adoHelJk/view" target="_blank">VRR Nest Tenant Policies <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1vdKyf4YR63I1uJUPcRagOaRogrBwQmAs/view" target="_blank">VRR Nest Clubhouse Complex Policies <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1dAenFk16U8N0O-YwhECPg1QXf2ckccxO/view" target="_blank">VRR Nest Parking, entry and traffic policies <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1dFqnmWbTv7qofSxmtqUipOOC19ZvacLW/view" target="_blank">VRR Nest Event Calendar 2018 <mat-icon>launch</mat-icon></a></mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Maintenance</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1PuBrENvrENLEsrM-NUUGIYbma7DvSUlb/view" target="_blank">VRR Nest Bank Account Details <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://docs.google.com/spreadsheets/d/1nuvmHr_R1axyqiYg2W9WUq2NpUKbg893lxkCAY57Leo/view#gid=1060444725" target="_blank">Flatwise maintenance <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://docs.google.com/forms/d/e/1FAIpQLSdWvVxDCHE7bpuj0qSpcphw2DE1ScsxrnZ6obOLuxbP_YhuoQ/viewform" target="_blank">Transaction update form <mat-icon>launch</mat-icon></a></mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Others</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1SBEBOcm7DCFSjBwILagVdj8rz7fOez3h/view" target="_blank">VRR Nest Occupancy Certificate (OC) <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/17dxr9CmB1vWhtBln1bZ21IcH96NN2WCl/view" target="_blank">VRR Nest Brochure <mat-icon>launch</mat-icon></a></mat-list-item>
                <mat-list-item><a mat-button href="https://drive.google.com/file/d/1wf18UcVblqGB-w870DSav7le0Ivwk1SF/view" target="_blank">VNOWA Bye Laws 2017 <mat-icon>launch</mat-icon></a></mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
