<br />
<div class="grid">
    <mat-card>
        <mat-card-title>First General Body Meeting - VNOWA 2018</mat-card-title>
        <mat-card-subtitle>10-Feb-2018</mat-card-subtitle>
        <mat-card-content>
            <p>This is the first meeting by VNOWA 2018.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1YnTSBJ8Qxzhq7xSrO8OflJqUnaS9uG2o/view" target="_blank">Presentation <mat-icon>launch</mat-icon></a>
            <a mat-raised-button color="accent" href="https://drive.google.com/file/d/1SFjv_o62Z0yrH0JmDq5RDpI1zyP8o6Oa/view" target="_blank">Minutes <mat-icon>launch</mat-icon></a>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Second General Body Meeting - VNOWA 2018</mat-card-title>
        <mat-card-subtitle>31-Mar-2018</mat-card-subtitle>
        <mat-card-content>
            <p>This is the second meeting by VNOWA 2018.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="accent" href="https://drive.google.com/file/d/1hdvpo2ANXfiythVcWZMX6vpcnCSCKs78/view" target="_blank">Minutes <mat-icon>launch</mat-icon></a>
        </mat-card-actions>
    </mat-card>
</div>
