<br />
<div class="grid">
    <mat-card>
        <mat-card-title>Dilip Das</mat-card-title>
        <mat-card-subtitle>Security Supervisor</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Dilip_Das.jpg" alt="Photo of Dilip Das" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Karthik</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Karthik.jpg" alt="Photo of Karthik" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Sanathlal</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Sanathlal.jpg" alt="Photo of Sanathlal" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Suresh</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Suresh.jpg" alt="Photo of Suresh" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
</div>
