<br />
<div class="grid">
    <mat-card>
        <mat-card-title>Anirban Deb</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img mat-card-image src="/assets/Anirban.jpg" alt="Photo of Anirban" />
        <mat-card-content>Flat number: A601</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Mr Chandra Mauli Bajpeyi</mat-card-title>
        <mat-card-subtitle>Vice President</mat-card-subtitle>
        <img mat-card-image src="/assets/Bajpeyi.jpg" alt="Photo of CM Bajpeyi" />
        <mat-card-content>Flat number: B110</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Gourinadha Gupta Jami</mat-card-title>
        <mat-card-subtitle>Treasurer</mat-card-subtitle>
        <img mat-card-image src="/assets/Gouri.jpg" alt="Photo of Gouri" />
        <mat-card-content>Flat number: B212</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Shirish Pathak</mat-card-title>
        <mat-card-subtitle>Joint Treasurer</mat-card-subtitle>
        <img mat-card-image src="/assets/Shirish.png" alt="Photo of Shirish" />
        <mat-card-content>Flat number: B001</mat-card-content>
    </mat-card>
    <mat-card>
            <mat-card-title>Amit Kumar Srivastava</mat-card-title>
            <mat-card-subtitle>Secretary</mat-card-subtitle>
            <img mat-card-image src="/assets/Amit.jpg" alt="Photo of Amit" />
            <mat-card-content>Flat number: A901</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Maneesh Gupta</mat-card-title>
        <mat-card-subtitle>Joint Secretary</mat-card-subtitle>
        <img mat-card-image src="/assets/Maneesh.jpg" alt="Photo of Maneesh" />
        <mat-card-content>Flat number: A001</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Arveti Sandeep Kumar</mat-card-title>
        <mat-card-subtitle>Executive member</mat-card-subtitle>
        <img mat-card-image src="/assets/Sandeep.jpg" alt="Photo of Sandeep" />
        <mat-card-content>Flat number: A406</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Mohan Singh Negi</mat-card-title>
        <mat-card-subtitle>Executive member</mat-card-subtitle>
        <img mat-card-image src="/assets/Mohan.jpg" alt="Photo of Mohan" />
        <mat-card-content>Flat number: A003</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Mr. Rashmi Ranjan Rout</mat-card-title>
        <mat-card-subtitle>Executive member</mat-card-subtitle>
        <img mat-card-image src="/assets/Rashmi.jpg" alt="Photo of Rashmi" />
        <mat-card-content>Flat number: B703</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Sachin Narang</mat-card-title>
        <mat-card-subtitle>Executive member</mat-card-subtitle>
        <img mat-card-image src="/assets/Sachin.jpg" alt="Photo of Sachin" />
        <mat-card-content>Flat number: B004</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Tamal Kanti Nath</mat-card-title>
        <mat-card-subtitle>Executive member</mat-card-subtitle>
        <img mat-card-image src="/assets/Tamal.jpg" alt="Photo of Tamal" />
        <mat-card-content>Flat number: A706</mat-card-content>
    </mat-card>
</div>
