<br />
<div class="grid">
    <mat-card>
        <mat-card-title>Anirban Deb</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <img mat-card-image src="/assets/Anirban.png" alt="Photo of Anirban" />
        <mat-card-content>My flat number is A601. A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Gourinadha Gupta Jami</mat-card-title>
        <mat-card-subtitle>Treasurer</mat-card-subtitle>
        <img mat-card-image src="/assets/Gouri.jpg" alt="Photo of Gouri" />
        <mat-card-content>My flat number is B212. A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Guruprasad R Nayak</mat-card-title>
        <mat-card-subtitle>Vice President</mat-card-subtitle>
        <img mat-card-image src="/assets/Guru.jpg" alt="Photo of Guru" />
        <mat-card-content>My flat number is B508. A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Maneesh Gupta</mat-card-title>
        <mat-card-subtitle>Member</mat-card-subtitle>
        <img mat-card-image src="/assets/Maneesh.png" alt="Photo of Maneesh" />
        <mat-card-content>My flat number is A001. A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Shirish Pathak</mat-card-title>
        <mat-card-subtitle>Joint Treasurer</mat-card-subtitle>
        <img mat-card-image src="/assets/Shirish.png" alt="Photo of Shirish" />
        <mat-card-content>My flat number is B001. A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Tamal Kanti Nath</mat-card-title>
        <mat-card-subtitle>Secretary</mat-card-subtitle>
        <img mat-card-image src="/assets/Tamal.jpg" alt="Photo of Tamal" />
        <mat-card-content>My flat number is A706. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 85530 13700</address>
            <address><mat-icon>email</mat-icon> tamal.nath<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Tushar Kanti Maity</mat-card-title>
        <mat-card-subtitle>Member</mat-card-subtitle>
        <img mat-card-image src="/assets/Tushar.jpg" alt="Photo of Tushar" />
        <mat-card-content>My flat number is A010. A few words...</mat-card-content>
    </mat-card>
</div>
