<br />
<div class="grid">
    <mat-card>
        <mat-card-title>Anirban Deb</mat-card-title>
        <mat-card-subtitle>President</mat-card-subtitle>
        <mat-card-content>My flat number is A601. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 99182 01746</address>
            <address><mat-icon>email</mat-icon> talk2deep<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Gourinadha Gupta Jami</mat-card-title>
        <mat-card-subtitle>Treasurer</mat-card-subtitle>
        <mat-card-content>My flat number is B212. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 85539 07218</address>
            <address><mat-icon>email</mat-icon> cagourinadha<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Guruprasad R Nayak</mat-card-title>
        <mat-card-subtitle>Vice President</mat-card-subtitle>
        <mat-card-content>My flat number is B508. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 97398 63316</address>
            <address><mat-icon>email</mat-icon> guruprasadnayak403<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Maneesh Gupta</mat-card-title>
        <mat-card-subtitle>Member</mat-card-subtitle>
        <mat-card-content>My flat number is A001. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 77601 32200</address>
            <address><mat-icon>email</mat-icon> mail2mgupta<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Shireesh Pathak</mat-card-title>
        <mat-card-subtitle>Joint Treasurer</mat-card-subtitle>
        <mat-card-content>My flat number is B001. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 86181 56282</address>
            <address><mat-icon>email</mat-icon> shirishpathak.p<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Tamal Kanti Nath</mat-card-title>
        <mat-card-subtitle>Secretary</mat-card-subtitle>
        <mat-card-content>My flat number is A706. A few words...</mat-card-content>
        <mat-card-footer>
            <address><mat-icon>call</mat-icon> +91 85530 13700</address>
            <address><mat-icon>email</mat-icon> tamal.nath<span class="at"></span>gmail.com</address>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-title>Tushar Kanti Maity</mat-card-title>
        <mat-card-subtitle>Member</mat-card-subtitle>
        <mat-card-content>My flat number is A010. A few words...</mat-card-content>
        <mat-card-footer>
          <address><mat-icon>call</mat-icon> +91 78999 22493</address>
          <address><mat-icon>email</mat-icon> tushar_k_maity<span class="at"></span>yahoo.com</address>
        </mat-card-footer>
    </mat-card>
</div>
