<mat-sidenav-container fullscreen>
	<mat-sidenav #sidenav align="end">
		<mat-nav-list>
			<h3 mat-subheader>General</h3>
			<a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.close()">
				<mat-icon>home</mat-icon> &nbsp; Home
			</a>
			<a mat-list-item routerLink="/complaints" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>report</mat-icon> &nbsp; Complaints
			</a>
			<a mat-list-item routerLink="/events" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>event</mat-icon> &nbsp; Events
			</a>
			<a mat-list-item routerLink="/facilities" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>pool</mat-icon> &nbsp; facilities
			</a>
			<a mat-list-item routerLink="/managing-committee" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>group_work</mat-icon> &nbsp; Managing Committee
			</a>
			<a mat-list-item routerLink="/stuffs" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>directions_walk</mat-icon> &nbsp; Stuffs
			</a>
			<h3 mat-subheader>Documents</h3>
			<a mat-list-item routerLink="/documents/fire-protection-system" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>whatshot</mat-icon> &nbsp; Fire Protection System
			</a>
			<a mat-list-item routerLink="/documents/general-body-meeting" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>group</mat-icon> &nbsp; General Body Meeting
			</a>
			<a mat-list-item routerLink="/documents/maintenance" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>monetization_on</mat-icon> &nbsp; Maintenance
			</a>
			<a mat-list-item routerLink="/documents/rules-and-regulations" routerLinkActive="active" (click)="sidenav.close()">
				<mat-icon>gavel</mat-icon> &nbsp; Rules and Regulations
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-toolbar color="primary">
		<mat-icon>{{icon}}</mat-icon>
		<span class="filler"></span>
		<span>&nbsp; {{title}}</span>
		<span class="filler"></span>
		<a mat-icon-button routerLink="/login">
			<img [src]="user.picture" *ngIf="authenticationService.user | async  as user; else noPhoto" />
			<ng-template #noPhoto>
				<mat-icon>face</mat-icon>
			</ng-template>
		</a>
		<button mat-icon-button (click)="sidenav.toggle()">
  			<mat-icon>menu</mat-icon>
  		</button>
	</mat-toolbar>
	<router-outlet></router-outlet>
</mat-sidenav-container>
