<mat-card>
    <mat-card-title>Hydrant, Alarm &amp; PA</mat-card-title>
    <mat-card-subtitle>Fire Hydrant, Manual Alarm and PA System</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1to6KXmAB3YOKTxDbae4AbOyHYLsO2T6w/view" target="_blank">Lower Basement <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1NeNxqBoYxQDonNpBCZygI81rXBwNOVsL/view" target="_blank">Upper Basement <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1-5DFOW7lb4VVQOaB64H6EUrnsjVUMtEz/view" target="_blank">Ground Floor <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1PcN6u_IfSPAUiMw9K6gd-by-uG9VZThX/view" target="_blank">First Floor <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1MXo9DvxAVZdnq8zNU4y8Zp5PjqGMq8_F/view" target="_blank">Typical 7, 8 &amp; 9 Floor <mat-icon>launch</mat-icon></a></mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Sprinkler</mat-card-title>
    <mat-card-subtitle>Fire Sprinkler System</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/17m_P2yeWpUJz5vwZejwURHbd2GFSnWWA/view" target="_blank">Lower Level Basement <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1OwBi5sVLjSJfRVRl7wuKred9MbdwQZYx/view" target="_blank">Upper Level Basement <mat-icon>launch</mat-icon></a></mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Schematic Diagram</mat-card-title>
    <mat-card-subtitle>Schematic Diagram</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1YLzIy6_HRabnC1vMOdfWxOuK_xJ0DiDN/view" target="_blank">Fire Hydrant and Sprinkler System <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1sRQbiypkB64VBTTp2xuOZicnRkZEr2W1/view" target="_blank">Fire Alarm and Public Address System <mat-icon>launch</mat-icon></a></mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Others</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/1OUsbQOXn09xn4RaLHAsqWCodcQnpurpJ/view" target="_blank">Fire Hydrant System for Building Yard <mat-icon>launch</mat-icon></a></mat-list-item>
        <mat-list-item><a mat-button href="https://drive.google.com/file/d/15ZuxrtphE201us6qcz9bvMnQ4Vi2JTau/view" target="_blank">Fire Pump Details for Terrace Floor Plan <mat-icon>launch</mat-icon></a></mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>
