.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

mat-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.iframe {
    border: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:50vw;
}