<br />
<mat-spinner *ngIf="loading"></mat-spinner>
<h1>Fire Hydrant, Manual Alarm &amp; PA System</h1>
<div class="grid">
  <mat-card>
    <mat-card-title>Lower Basement</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1to6KXmAB3YOKTxDbae4AbOyHYLsO2T6w/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1to6KXmAB3YOKTxDbae4AbOyHYLsO2T6w/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Upper Basement</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1NeNxqBoYxQDonNpBCZygI81rXBwNOVsL/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1NeNxqBoYxQDonNpBCZygI81rXBwNOVsL/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Ground Floor</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1-5DFOW7lb4VVQOaB64H6EUrnsjVUMtEz/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1-5DFOW7lb4VVQOaB64H6EUrnsjVUMtEz/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>First Floor</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1PcN6u_IfSPAUiMw9K6gd-by-uG9VZThX/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1PcN6u_IfSPAUiMw9K6gd-by-uG9VZThX/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Typical 7, 8 &amp; 9 Floor</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1MXo9DvxAVZdnq8zNU4y8Zp5PjqGMq8_F/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1MXo9DvxAVZdnq8zNU4y8Zp5PjqGMq8_F/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<h1>Fire Sprinkler System</h1>
<div class="grid">
  <mat-card>
    <mat-card-title>Lower Level Basement</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/17m_P2yeWpUJz5vwZejwURHbd2GFSnWWA/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/17m_P2yeWpUJz5vwZejwURHbd2GFSnWWA/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Upper Level Basement</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1OwBi5sVLjSJfRVRl7wuKred9MbdwQZYx/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1OwBi5sVLjSJfRVRl7wuKred9MbdwQZYx/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<h1>Schematic Diagram</h1>
<div class="grid">
  <mat-card>
    <mat-card-title>Fire Hydrant and Sprinkler System</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1YLzIy6_HRabnC1vMOdfWxOuK_xJ0DiDN/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1YLzIy6_HRabnC1vMOdfWxOuK_xJ0DiDN/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Fire Alarm and Public Address System</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1sRQbiypkB64VBTTp2xuOZicnRkZEr2W1/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1sRQbiypkB64VBTTp2xuOZicnRkZEr2W1/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<h1>Others</h1>
<div class="grid">
  <mat-card>
    <mat-card-title>Fire Hydrant System for Building Yard</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/1OUsbQOXn09xn4RaLHAsqWCodcQnpurpJ/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/1OUsbQOXn09xn4RaLHAsqWCodcQnpurpJ/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Fire Pump Details for Terrace Floor Plan</mat-card-title>
    <mat-card-content>
      <iframe class="iframe" (load)="loading=false" src="https://drive.google.com/file/d/15ZuxrtphE201us6qcz9bvMnQ4Vi2JTau/preview"></iframe>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://drive.google.com/file/d/15ZuxrtphE201us6qcz9bvMnQ4Vi2JTau/view" target="_blank">View
        <mat-icon>launch</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>