<h1>Traffic and Parrking Guidelines</h1>
<h3>Rationale</h3>
<p>With number of residents increasing day by day at VRR Nest, it has been felt that a right process in terms of traffic and parking, will ease the burden on Security and also will ensure security is not compromised thereby making it convenient for both Residents and Visitors.</p>
<h3>Observations</h3>
<ul>
  <li>Vehicles are being parked in non-designated area causing inconvenience to fellow residents.</li>
  <li>Owners/Residents park their vehicles overnight in parking area causing space constraints for visitors.</li>
  <li>Due to this, visitors’ vehicles are getting parked outside designated area thereby compromising security and privacy</li>
  <li>Currently most of residents’ vehicles are not having parking stickers thus causing difficulty in distinguishing between residents’ vehicles and visitors’ one by security team.</li>
  <li>Sometimes it has been observed that visitors’ vehicles are getting parked in basement resulting no check and balances and thus compromising security of residents.</li>
</ul>
<h3>Processes</h3>
<p>Considering the above scenarios following rules are being implemented with immediate effect:</p>
<p>Rule 1: All Residents have to collect the parking stickers from Security by 10th Feb 2018 by filling in the details in the format. These stickers MUST be visible on Front shield of car or in front of bike for easier identification by security team. Anyone not collecting by 10th Feb’18 has to take it by paying Rs. 100/- per sticker.</p>
<p>Rule 2: Anyone entering without parking sticker will be asked to make an entry in the register irrespective of him being a resident or a visitor. In case of visitor, he will be asked to park the car in Visitors parking area and if resident, he will have to take the sticker then and there (by paying Rs. 100/- after 10th Feb’18) and put the same in his car/bike and then only will be allowed to enter. And this process applies for 24 hrs including late night entries without any relaxation</p>
<p>Rule 3: Residents not having their own parking or enough parking for multiple vehicles must secure required parking slot in common parking area at nominal charge of 1500 Rs/month per slot</p>
<p>Rule 4: Visitors parking will be strictly used for visitors only and residents must park their vehicles in their respective parking only</p>
<p>Rule 5: Any resident’s four wheeler found in parking area for over 10 minutes will be locked and unlocking of same will be done with fine of Rs. 50/-.</p>
<p>Rule 6: Any car irrespective of it belongs to resident or visitor, found beyond the designated area, unless otherwise advised by Security, will be locked and be released against a fine of Rs. 50/-. Same applies for residents vehicle parked in basement without a sticker (for exceptional cases, please reach out to MC in advance and not when fine is being implemented)</p>
<p>Rule 7: Any resident’s Two Wheeler found in visitor parking beyond 10PM will be locked and will be unlocked with fine of Rs. 50/-</p>
