<br />
<mat-spinner *ngIf="loading"></mat-spinner>
<div class="grid">
    <mat-card>
        <mat-card-title>Traffic and Parrking Guidelines</mat-card-title>
        <mat-card-subtitle>In force</mat-card-subtitle>
        <mat-card-content>
            <iframe class="iframe" (load)="loading=false" src="https://docs.google.com/document/d/1b7X-bJnNZqZfQQufRwZiAfwDeqXj8fQbacVaPahTYHc/preview"></iframe>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" href="https://docs.google.com/document/d/1b7X-bJnNZqZfQQufRwZiAfwDeqXj8fQbacVaPahTYHc/view" target="_blank"><mat-icon>launch</mat-icon></a>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Tenant Policies</mat-card-title>
        <mat-card-subtitle>In force</mat-card-subtitle>
        <mat-card-content>
            <iframe class="iframe" (load)="loading=false" src="https://docs.google.com/document/d/1lepBpzGobVAKBKNXCYxgCREcdkpJq5550G4vMBqukKI/preview"></iframe>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" href="https://docs.google.com/document/d/1lepBpzGobVAKBKNXCYxgCREcdkpJq5550G4vMBqukKI/view" target="_blank"><mat-icon>launch</mat-icon></a>
        </mat-card-actions>
    </mat-card>
</div>
