<h1>VRR Nest</h1>


<h3>VRR Nest Owners Welfare Association</h3>
<h3>Address</h3>
<address>VRR Nest, Beratena Agrahara, Hosur Road, Electronic City Post, Bengaluru - 560100</address>
<address><a href="https://www.google.co.in/maps/place/VRR+Nest">https://www.google.co.in/maps/place/VRR+Nest</a></address>
<mat-spinner *ngIf="loading"></mat-spinner>
<iframe class="map" (load)="loading=false" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d525.3424810263318!2d77.66242744012271!3d12.864263262845625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6ca4f2a9c70b%3A0x94aa496d7db79dd8!2sVRR+Nest!5e1!3m2!1sen!2sin!4v1518183578403" allowfullscreen></iframe>

<h1>Introduction</h1>

<p>Our apartment is certified for occupancy by BBMP on 14-03-2017. Visit <a href="http://bbmp.gov.in/en/web/guest/buildingplanoccupancy">BBMP Website</a> for the <a href="http://bbmp.gov.in/documents/10180/5782005/40.pdf/58a54ad6-4a37-4683-b905-58152cf1c384">occupancy certificate (OC)</a>.</p>
