<h1>VRR Nest Owners Welfare Association</h1>

<address>VRR Nest, Beratena Agrahara, Hosur Road, Electronic City Post, Bengaluru - 560100</address>
<address><a href="https://www.google.co.in/maps/place/VRR+Nest">https://www.google.co.in/maps/place/VRR+Nest</a></address>
<br />
<img class="banner" src="/assets/VRR_Nest.jpg" />

<h2>Get connected</h2>

<mat-list>
    <mat-list-item>
        <a mat-raised-button href="https://groups.google.com/d/forum/vrrnest" target="_blank"><mat-icon svgIcon="company:google"></mat-icon> Google Groups</a>
        &nbsp; - To get email updates (owners only)
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button href="https://www.commonfloor.com/welcome/enter?acntid=8a08f33f4e870ec8933ef23493c68128" target="_blank"><img style="width: 24px" src="/assets/CommonFloor.png"> CommonFloor</a>
        &nbsp; - To get email updates, participate in polls etc. (for owners and tenants)
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button href="https://www.facebook.com/groups/1661965790713363/" target="_blank"><mat-icon svgIcon="company:facebook"></mat-icon> Facebook</a>
        &nbsp; - To connect socially (owners only)
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button href="https://www.nobrokerhood.com/" target="_blank"><img style="width: 24px" src="/assets/NoBrokerHOOD.png" /> NoBrokerHOOD</a>
        &nbsp; - To get notification of maids, visitors, etc. (for owners and tenants)
    </mat-list-item>
    <mat-list-item>
        <a mat-raised-button href="https://www.whatsapp.com/" target="_blank"><mat-icon svgIcon="company:whatsapp"></mat-icon> WhatsAPP</a>
        &nbsp; - For general discussions join the owners and residents group (for owners and tenants)
    </mat-list-item>
</mat-list>
