<mat-card>
    <mat-card-title>VRR Nest Owners Welfare Association</mat-card-title>
    <mat-card-subtitle>VRR Nest, Beratena Agrahara, Hosur Road, Electronic City Post, Bengaluru - 560100</mat-card-subtitle>
    <img mat-card-image src="/assets/VRR_Nest.jpg" />
    <mat-card-content>
        <h3>Get connected</h3>
        <mat-list>
            <mat-list-item>
                <a mat-button href="https://groups.google.com/d/forum/vrrnest" target="_blank"><mat-icon svgIcon="company:google"></mat-icon> Google Groups (owners only)</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-button href="https://www.commonfloor.com/vrr-nest-bangalore/covp-f3wb2u" target="_blank"><img style="width: 24px" src="/assets/CommonFloor.png"> CommonFloor</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-button href="https://www.facebook.com/groups/1661965790713363/" target="_blank"><mat-icon svgIcon="company:facebook"></mat-icon> Facebook (owners only)</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-button href="https://www.nobrokerhood.com/" target="_blank"><img style="width: 24px" src="/assets/NoBrokerHOOD.png" /> NoBrokerHOOD</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-button href="https://www.whatsapp.com/" target="_blank"><mat-icon svgIcon="company:whatsapp"></mat-icon> WhatsAPP (call MC)</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-button href="https://www.google.co.in/maps/place/VRR+Nest" target="_blank"><mat-icon>place</mat-icon> Google Maps</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
