<br />
<div class="grid">
    <mat-card>
        <mat-card-title>Mohan</mat-card-title>
        <mat-card-subtitle>Security Supervisor</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Mohan.jpg" alt="Photo of Mohan" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Kavitha</mat-card-title>
        <mat-card-subtitle>Lady Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Kavitha.jpg" alt="Photo of Kavitha" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Lokesh</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Lokesh.jpg" alt="Photo of Lokesh" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Pradeep</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Pradeep.jpg" alt="Photo of Pradeep" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Ram</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Ram.jpg" alt="Photo of Ram" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Ravi</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Ravi.jpg" alt="Photo of Ravi" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Sandeep</mat-card-title>
        <mat-card-subtitle>Security Guard</mat-card-subtitle>
        <img mat-card-image src="/assets/stuffs/security/Sandeep.jpg" alt="Photo of Sandeep" />
        <mat-card-content>A few words...</mat-card-content>
    </mat-card>
</div>
